<h1>{{fullname}}</h1>
<input type="text" [(ngModel)]="fullname">

<img [src]="imageurl" alt="i am image">

<h1 [innerText]="title"> </h1>
<p [textContent]="user?.name"></p>

<h1>clicked {{clickcount}} times</h1>
<button (click)="clickme()">click me +1</button>
<button (click)="clickme2()">click me -1</button>
<app-counter></app-counter>

<h1>ngfor example</h1>

<ul>
    <li *ngFor="let move of moves">{{move}}</li>
</ul>
<h1> index example </h1>
<ul>
    <li *ngFor="let fruit of fruits; let i = index">
       {{i+1}} {{fruit}}

    </li>
</ul>

<h1> first and last  example </h1>
<ul>
    <li *ngFor="let fruit of fruits; let isFirst is first;">
       <strong *ngIf="isFirst">First:</strong>
        {{fruit}}

    </li>
</ul>